<main class="container mt-5">
  <h1 class="mb-4 text-dark">Login</h1>
  <form class="skin-login-form">
    <div class="mb-3">
      <label for="username" class="form-label custom-text-color">Username</label>
      <input
        type="text"
        class="form-control"
        id="username-skin-login"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label custom-text-color">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-skin-login"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>

</main>