<main class="container mt-5">
  <h1 class="mb-4 text-dark">Sign Up</h1>
  <form id="signup-form" class="skin-signup-form">
    <div class="mb-3">
      <label for="username" class="form-label custom-text-color">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label custom-text-color">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Email" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label custom-text-color">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password must be over (8) Characters long"
      />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</main>
